<app-toolbar showMenuToggle />
<ng-container *transloco="let t">
  <mat-sidenav-container class="layout">
    <mat-sidenav
      class="side"
      mode="side"
      [opened]="stateService.isSidebarOpen()"
    >
      <mat-nav-list>
        <button
          mat-list-item
          routerLink="avatars"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span
            class="iconify"
            data-icon="ic:baseline-smart-toy"
            matListItemIcon
            aria-hidden="true"
          ></span>
          <span>{{ t('home.nav.avatars') }}</span>
        </button>
        <button
          mat-list-item
          routerLink="settings"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span
            class="iconify"
            data-icon="ic:baseline-tune"
            matListItemIcon
            aria-hidden="true"
          ></span>
          <span>{{ t('home.nav.settings') }}</span>
        </button>
        <button
          mat-list-item
          routerLink="api-keys"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span
            class="iconify"
            data-icon="ic:baseline-vpn-key"
            matListItemIcon
            aria-hidden="true"
          ></span>
          <span>{{ t('home.nav.apiKeys') }}</span>
        </button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <main class="content">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
