<app-toolbar showMenuToggle />
<ng-container *transloco="let t">
  <mat-sidenav-container class="layout">
    <mat-sidenav #drawer class="side" mode="side" [opened]="true">
      <div class="side-header">
        <h3>{{ t('home.nav.workspace') }}</h3>
      </div>
      <mat-nav-list>
        <button
          mat-list-item
          [class.active]="activeSection() === 'avatars'"
          (click)="select('avatars')"
        >
          <mat-icon>smart_toy</mat-icon>
          <span>{{ t('home.nav.avatars') }}</span>
        </button>
        <button
          mat-list-item
          [class.active]="activeSection() === 'settings'"
          (click)="select('settings')"
        >
          <mat-icon>tune</mat-icon>
          <span>{{ t('home.nav.settings') }}</span>
        </button>
        <button
          mat-list-item
          [class.active]="activeSection() === 'api-keys'"
          (click)="select('api-keys')"
        >
          <mat-icon>key</mat-icon>
          <span>{{ t('home.nav.apiKeys') }}</span>
        </button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <main class="content">
        @switch (activeSection()) { @case ('avatars') {
        <app-avatars-section /> } @case ('settings') {
        <app-settings-section /> } @case ('api-keys') {
        <app-api-keys-section /> } }
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
