:host {
  display: inline-flex;
}

.language-trigger {
  color: var(--mat-sys-on-surface-variant);

  &:hover {
    background-color: color-mix(
      in srgb,
      var(--mat-sys-on-surface) 8%,
      transparent
    );
  }
}

.iconify {
  font-size: 22px;
}
